@{
    ViewData["Title"] = "Banco";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Banco</h1>
    <p>Banco en línea le tiene los siguientes servicios:</p>
    <ul>
        <li><a class="btn btn-default" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
        <li><a class="btn btn-default" asp-controller="Cuentas" asp-action="Index">Cuentas</a></li>
        <li><a class="btn btn-default" asp-controller="Movimientos" asp-action="Index">Movimientos</a></li>
        <li><a class="btn btn-default" asp-controller="Reportes" asp-action="Movimientos">Reportes</a></li>
    </ul>
</div>
